<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            background-color: #a5a5ac;
        }
    </style>
</head>
<body>
{{{body}}}
</body>
</html>